div {
  margin: 20px 0;
  text-align: center;
}

h1 {
  text-align: center;
}

textarea {
  width: 100%;
  font-family: monospace;
}

.editMe {
  font-family: sans-serif;
}

.hover {
  background-color: lightCyan;
}

.note {
  font-family: monospace;
  font-style: italic;
}
